body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding:0;
}
h1, h3{
    color: burlywood;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}
.blog-name{

    margin-left: 500px;
    font-size: 50px;
    color: #004687;
}
p{
    font-size: 18px;
}

nav{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1em;
    background-color: burlywood;
    font-size: 20px;
    font-weight: lighter;
   
    
}
nav ul{
    list-style: none;
    padding: 0;
    margin: auto;
    gap: 80px;
    

}
nav li{
    display: inline-block;
    
}
nav a{
    text-decoration: none;
    color: #004687;
    gap: 20px;
}
nav a:hover{

    color: #72A0C1;
    text-decoration: underline;
}

#logo{
    width: 100px;
    height: 100px;
    padding-right: 100px;
    border-radius: 50%;
}
#images{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
div{
    background-color: #5072A7;
    color: #fff;
    margin: 10px;
    padding: 10px;
    
}
footer{
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #004687;
}
footer ul{
    list-style: none;
}
footer li{
    display: inline-block;
    
}
footer a{
    text-decoration: none;
    gap: 20px;
    color: #004687;
    font-size: 32px;
}
footer a:hover{

    color: #72A0C1;
    text-decoration: underline;
}